body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f8fafc;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}